/* Empty. Add your own CSS if you like */

/* PT Sans */

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-bold.ttf');
    font-weight: 700;
}
.icon.small-icon {
    margin: 4px auto 0 !important;
    height: 26px;
    font-size: 26px;
}
.bottom-btn {
    text-align: right;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    bottom: -40px;
    right: 10px;
}
.picture {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 11.5px;
    left: 10px;
}
.item-picture.item h2 {
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.item-picture.item p {
    line-height: normal;
    margin: 0;
    margin-top: 3px;
}
.item-picture.item .item-content {
    padding-left: 95px;
    min-height: 94px;
}
.blocks h3 {
    margin: 0;
    color: #5F5F5F;
    font-size: 20px;
}
.blocks {
    min-width: 60px;
    display: table-cell;
    padding: 8px 0 2px;
    color: #5F5F5F;
    font-size: 12px;
    border-right: 1px solid #DDD;
}
.flex-block {
    display: table;
}
.picturess.assertive-bg {
    height: 70px;
    width: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 13.5px;
    left: 10px;
}
.wish {
    padding-left: 95px;
    position: relative;
}
.wishs {
    /*    margin-top: 1px;*/
    border-top: 1px solid #ddd;
}
.stickyScroll {
    top: 44px;
    z-index: 9;
    border-bottom: 1px solid #ddd;
}
.scroll-above {
    top: 89px;
}
.content-holder h4 {
    margin-bottom: 5px;
}
.col-67.pad {
    padding-left: 13px;
}
.popover {
    height: 175px;
}
.blockss {
    border: 0px solid #2ECC71;
    margin-top: 5px;
    padding: 10px 3px;
    font-size: 12px;
    background-color: white;
    line-height: 100%;
    border-bottom: 1px solid white;
}
.item.withlist.pull-right {
    text-align: right;
}
.item.withlist.pull-right a {
    margin-right: 10px;
}
.row.block-down {
    padding: 0;
}
.item.pur-btn a {
    line-height: 20px;
    padding: 2px 4px 0 5px;
    width: 110px
}
.item.product-wrnnty {
    padding: 10px 15px;
    background: #EFEFEF;
    color: #4F4F4F;
    font-size: 16px;
    border-bottom: 0px solid;
}
.item-radio.radio-div .item-content {
    padding-right: 64px;
    padding: 16px 49px 16px 10px;
}
.add-warnty {
    /*    float: right;*/
    padding-right: 5px;
    text-decoration: none;
    color: #2ECC71;
    text-align: center;
}
.upload.button.icon-right:before {
    padding-left: 0.8em;
}
.blocks a {
    color: #5F5F5F;
    text-decoration: none;
}
a.button.upload {
    padding: 11px 20px;
    line-height: 21px;
}
.blockmodal .blockss {
    margin: 0px;
}
input[type="date"] {
    text-align: right;
    padding-right: 10px;
}
.bbar-white .button-bar {
    padding: 15px 5px;
}
.bbar-white .button-bar .button {
    font-size: 14px;
    line-height: 50px;
}
.filter-modal .item {
    padding: 10px 5px;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #DDD;
    margin: 0;
    background: transparent;
}
.filter-modal .right .item {
    padding: 0px;
}
.filter-modal .right label {
    padding: 10px 5px;
    width: 100%;
    display: block;
}
.row.filter-modal .col {
    padding: 0px 5px;
}
.bg-filter {
    background: -webkit-linear-gradient(0deg, white 49.5%, #ccc 50%, #EFEFEF 50%);
    background: -moz-linear-gradient(0deg, white 49.5%, #ccc 50%, #EFEFEF 50%);
    background: -o-linear-gradient(0deg, white 49.5%, #ccc 50%, #EFEFEF 50%);
    background: linear-gradient(90deg, white 49.5%, #ccc 50%, #EFEFEF 50%);
}
.filter-modal input[type="checkbox"] {
    background: transparent;
    border: 1px rgb(46, 204, 113) solid;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
    color: #2ECC71;
    font-family: Ionicons;
    text-align: center;
}
.filter-modal .col {
    top: 44px;
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 30px;
    height: auto;
    overflow-y: scroll;
}
.filter-modal .col.right {
    right: 0;
    left: auto;
}
.bottom-stick {
    position: absolute;
    bottom: -10px;
    z-index: 9;
    right: 0px;
}
.filter-modal input[type="checkbox"]:before {
    content: '\f121';
    opacity: 0;
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.filter-modal input[type="checkbox"]:checked:before {
    opacity: 1;
}
.filter-modal .active.item {
    color: #2ECC71;
    font-weight: 600;
}
.bar.item-input-inset.search-app .item-input-wrapper input {
    padding-left: 0px;
    width: 75%;
}
.bar.item-input-inset.search-app {
    padding: 0;
}
.search-app .placeholder-icon:first-child {
    padding-right: 6px;
    float: left;
}
.search-app .ion-ios-search:before {
    line-height: 2;
}
.bar-balanced .button.btn-sort.button-icon {
    border-color: transparent;
    background: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.small-icon:before {
    font-size: 23px !important;
    line-height: 28px !important;
}
.title p {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
.title p {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
.otp-title {
    padding: 25px;
}
.otp-title ion-item.item .item-input {
    border: 0;
    padding-left: 0;
}
.otp-title ion-item.item {
    padding: 0;
    border: 0;
}
.otp-title ion-item.item {
    border-bottom: 1px solid #2ECC71;
}
.otp-title ion-item.item .item-input input[type="text"] {
    padding-left: 10px;
}
.otpbg {
    background: #fff;
}
.otpnote button {
    color: #2ECC71!important;
    border-color: #2ECC71!important;
}
.otpnote p span {
    font-weight: 700;
    font-size: 14px;
}
.otpnote p {
    padding-bottom: 10px;
    text-align: center;
}
.bg-sortby .list i.radio-icon.ion-checkmark {
    color: #2ECC71;
}
.app-cont .blockss {
    margin-top: 0px;
}
ion-modal-view.bg-archive.modal {
    top: 25%;
    width: 300px;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
}
.cont-archive {
    padding: 10px 10px;
}
p.cont-que {
    font-weight: 700;
    padding: 0px!important;
    text-align: center!important;
}
.cont-archive p {
    text-align: justify;
    padding: 0px 0 4px 0px;
    margin: 0px;
}
.btn-trans {
    text-align: right;
    padding-right: 20px;
}
.bg-delete {
    min-height: 285px!important;
}
.row.report-tab {
    padding: 0;
}
.row.report-tab .col {
    /*    color: #2ECC71;*/
    border: 1px solid #ddd;
    padding: 8px 0;
}
.pictures {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-right: 20px;
}
.app-details .row span {
    float: right;
    font-weight: 700;
}
.app-details .col-67 p {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 0;
}
.list.list-tab {
    margin-bottom: 5px;
}
.app-details row {
    border-bottom: 1px solid #000;
}
.app-details .row {
    border-bottom: 1px solid #ddd;
}
.app-details .row h5 {
    margin-bottom: 0;
    padding-left: 8px;
}
.app-details input {
    background: #fff;
}
input[type="time"] {
    text-align: right;
    padding-right: 20px;
}
.start.input {
    position: absolute;
    right: 15px;
    top: 12px;
}
.start.input i {
    font-size: 20px;
    color: #C1C1C1;
}
i.ion-android-star.actived {
    color: #2ECC71;
}
.btn-newreport {
    text-align: right;
    padding-right: 20px;
}
.btn-newreport .button {
    padding: 0px 15px;
}
.button-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
    font-size: 30px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.button-round.ion-plus-round:before {
    padding-top: 8px;
    font-size: 18px;
}
.add-app {
    position: absolute;
    right: 10px;
    bottom: 60px;
}
.list.list-tabs {
    margin-bottom: -1px;
}
.feedback {
    margin-bottom: 10px;
}
.item.withlist {
    position: relative;
}
.item.withlist label {
    width: 72%;
    float: left;
    margin-left: 10px;
    border: 0px;
    padding: 2px 0;
}
.item.withlist label input {
    border-bottom: 1px solid #ddd;
}
.reports .item {
    padding: 5px;
}
.modal-backdrop-bg {
    background: rgba(0, 0, 0, 0.4);
}
input[disabled] {
    background: #fff;
}
.right-btn {
    text-align: right;
    padding-right: 20px;
}
.activated {
    color: #2ECC71;
}
.services {
    margin-top: 44px;
    border-bottom: 1px solid #ddd;
}
.has-header-services {
    top: 210px;
}
p.address {
    padding-bottom: 10px;
}
.wish.services {
    border-bottom: 1px solid #ddd;
}
.slider {
    height: 300px;
}
span.linked {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 10px;
}
.slider-pager .slider-pager-page {
    color: #2ECC71;
}
a.blocks {
    text-decoration: none;
}
.reports .card .item .row .col {
    line-height: 1.9;
}
.list.req-services .button.button-balanced.button-outline.activated {
    background-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #2ecc71;
}
/*.list.req-services .button.button-balanced.button-outline {
    border: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}*/

.list.req-services .item.item-button-right {
    font-size: 12px;
    white-space: initial;
}
.list.req-services .item p {
    font-size: 12px;
    white-space: inherit;
}
.list.req-services .item {
    padding: 14px 80px 10px 20px;
}
.menus {
    position: absolute;
    top: 0;
    z-index: 99999999;
    /*  transform: translateX(-100%);*/
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
    min-height: 100%;
    background: #fff;
}
.menus a.item {
    color: inherit;
    text-decoration: none;
    padding: 12px 20px;
}
.picture-service {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 4px;
}
.picture-service .item-picture.item h2 {
    font-size: 14px;
}
.menu-tab {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.item-lights {
    min-height: 95px;
    padding: 20px 0px 0 80px!important;
    /*    margin-top: 1px;*/
    margin: 10px;
    border-bottom: 1px solid #ddd!important;
}
.menus .list .item {
    padding: 8px 18px;
    border: 0;
    margin: 0;
}
.menus .list .item.active {
    background: #fff;
    color: #2ecc71;
}
.animate-show {
    opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.animate-show.ng-hide {
    opacity: 0;
}
i.icon-arrows {
    right: 25px;
    color: rgb(46, 204, 113);
    font-size: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.reports .card .row .col h3 {
    font-size: 16px;
    line-height: 1.9;
    padding: 0;
    margin: 0;
}
.start.input.inputs {
    position: initial;
}
input.disableds {
    text-align: left;
}
textarea.text-areas {
    width: 60%;
}
.reports .card {
    margin: 5px 10px;
}
span.head {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}
.list.req-services .item-note {
    color: #444;
}
.logo img {
    width: 70px;
}
.logo {
    text-align: center;
    padding: 22px 0 15px 0;
}
.logo h4 {
    color: #8FC33E;
    margin: 0px;
    font-size: 20px;
}
a.button.button-fb.button-outline {
    color: #fff;
    background-color: #4465ac;
    border-color: #4465ac;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*    padding: 6px 16px;*/
}
a.button.button-twit.button-outline {
    text-transform: uppercase;
    color: #fff;
    border-color: #32c8fa;
    background-color: #32c8fa;
    /*    padding: 6px 16px;*/
}
a.button.button-google.button-outline {
    background-color: #dd4d3b;
    border-color: #dd4d3b;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*    padding: 6px 16px;*/
}
.btn-mk {
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.list.login-text {
    padding: 10px 0 0 0px;
}
.list.login-text label.item.item-input {
    margin: 5px 10px;
}
.item.login-wid {
    padding: 10px 15px;
    border: 0px;
    text-align: center;
}
p.login-or {
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.button-fb i,
.button-google i,
.button-twit i {
    font-size: 28px;
}
a.margin-right {
    margin-right: 4px;
}
.login-with {
    padding-bottom: 15px;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
}
.forgot a.left {
    color: #444;
}
.right {
    float: right;
    color: #444;
}
span.right a {
    color: #444;
}
.forgot {
    padding-top: 20px;
}
.padding-horizontal.btn-signin a.button.button-block.button-balanced {
    border-color: #2ECC71;
}
.login-i i {
    font-size: 25px;
    line-height: 0;
    margin-top: -8px;
    padding: 0 20px 0px 0;
    color: #bbb;
}
/*
.input-up {
    border-top: 0px;
}
*/

.input-btm {
    border-bottom: 0px;
}
input[readonly]:not(.cloned-text-input) {
    background: transparent;
}
.menus.animate-show {
    -webkit-box-shadow: 0 0 5px #ddd;
    -moz-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.activetab {
    color: #2ECC71;
    font-weight: 700;
    border-bottom-color: #2ECC71;
}
.blocks1 {
    min-width: 105px;
    display: table-cell;
    padding: 8px 0 2px;
    font-size: 12px;
    border-right: 1px solid #DDD;
}
ion-content.tabs-conts.has-header {
    top: 73px;
}
.slide-home.button {
    font-size: 14px;
}
.making.req-services .item {
    padding-right: 15px;
}
.slide-option i.icon:before {
    font-size: 18px;
    line-height: normal;
}
.pull-right {
    float: right;
    color: #2ECC71;
}
.card.transfers span {
    font-size: 14px;
}
.notification {
    padding: 10px 0 5px 16px;
}
.card.transfers {
    margin-top: 5px;
}
span.pull-right {
    color: #444;
    padding-right: 10px;
}
.content {
    padding: 15px;
    text-align: justify;
    border-bottom: 1px solid #ddd;
}
.row.header {
    text-align: center;
    background-color: #2ECC71;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.row.table {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    margin: 0px;
}
.table input[type="text"] {
    text-align: center;
    width: 100%;
    height: 20px;
}
.item.item-toggle.wizardli .toggle {
    position: absolute;
    top: 0px;
    right: 35px;
    z-index: 3;
}
.item.item-toggle.wizardli {
    border: 0px;
}
ion-item.item label.checkboxs {
    padding-right: 15px;
    width: 50%;
    float: left;
}
.checkboxs input[type="checkbox"] {
    background: transparent;
    border: 1px rgb(46, 204, 113) solid;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -6px;
    color: #2ECC71;
    font-family: Ionicons;
    text-align: center;
}
.checkboxs input[type="checkbox"]:before {
    content: '\f121';
    opacity: 0;
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.checkboxs input[type="checkbox"]:checked:before {
    opacity: 1;
}
.pad-btm {
    margin-bottom: 10px;
}
.col.head {
    padding-left: 10px;
    font-weight: 600;
}
.stars {
    font-size: 20px;
    color: #C1C1C1;
}
/*iOS Fixes*/

.platform-ios.platform-cordova:not(.fullscreen) .filter-modal .col,
.platform-ios.platform-cordova:not(.fullscreen) .stickyScroll {
    top: 64px;
}
.platform-ios.platform-cordova:not(.fullscreen) .scroll-above {
    top: 109px;
}