<ion-view view-title="Add Appliance" class="light-bg">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear small-icon">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content class="bbar-white app-cont">
        <div class="row block-down">
            <div class="col text-center blockss" ng-click="changetab(1);" ng-class="{'activetab': tabvalue == 1}">
                Appliance Summary
            </div>
            <div class="col text-center blockss" ng-click="changetab(2);" ng-class="{'activetab': tabvalue == 2}">
                Purchase Details
            </div>
            <div class="col text-center blockss" ng-click="changetab(3);" ng-class="{'activetab': tabvalue == 3}">
                Warranty / AMC
            </div>
            <div class="col text-center blockss endblocks" ng-click="changetab(4);" ng-class="{'activetab': tabvalue == 4}">
                Documents / Notes
            </div>
        </div>

        <div class="appliance" ng-if="tabvalue == 1">

            <!--
            <div class="item withlist">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');">
                                 <label class="item item-input">
                <span class="input-label">Product*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Name As*</span>
                <input type="text" required>
            </label>
                </div>
            </div>
-->

            <!--                <div class="picturess  assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>-->
            <div class="list">
                <label class="item item-input input-up" ng-click="openproductsearch();">
                    <span class="input-label">Product*</span>
                    <input type="text" ng-model="appliance.appliancetype.name" readonly>
                </label>
                <label class="item item-input" ng-click="openbrandsearch();">
                    <span class="input-label">Brand*</span>
                    <input type="text" readonly>
                </label>

                <label class="item item-input">
                    <span class="input-label">Model No.</span>
                    <input type="text" ng-model="appliance.modelnumber">
                </label>

                <label class="item item-input">
                    <span class="input-label">Serial No.</span>
                    <input type="text" ng-model="appliance.serialnumber">
                </label>
                <label class="item item-input input-btm">
                    <span class="input-label">Name As*</span>
                    <input type="text" ng-model="appliance.name" required>
                </label>
                <label class="item item-input" ng-click="openedit();">
                    <span class="input-label">Location</span>
                    <input type="text" ng-model="appliance.userlocation.name" readonly>
                </label>
                </label>
                <li class="item item-toggle">
                    Warranty/AMC
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <!--
                <label class="item item-input">
                    <span class="input-label">Cover</span>
                    <input type="text">
                </label>
-->

                <!--
                <label class="item item-input">
                    <span class="input-label">Expiry</span>
                    <input type="text" ng-model="appliance.warranty[0].expiry">
                </label>
-->


            </div>
            <div class="padding">
                <button class="button button-outline button-block icon-right ion-chevron-right button-balanced" ng-click="changetab2(2);">Next</button>
            </div>
        </div>

        <div class="list" ng-if="tabvalue == 2">
            <label class="item item-input">
                <span class="input-label">Purchase Date</span>
                <input type="date" ng-model="appliance.purchasedate">
            </label>
            <label class="item item-input">
                <span class="input-label">Bill No*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Store Pincode</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Store Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Store Pincode</span>
                <input type="text">
            </label>
            <label class="item item-input" ng-click="openedit();">
                <span class="input-label">Store District</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Store State
                </div>
                <input type="text">
                <!--
                <select>
                    <option></option>
                    <option>Maharastra</option>
                    <option>Gujrat</option>
                </select>
-->
            </label>
            <label class="item item-input">
                <span class="input-label">Store Address</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact No.</span>
                <input type="tel">
            </label>
            <label class="item item-input">
                <span class="input-label">Sale Person</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Purchase Price</span>
                <input type="text">
            </label>

            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(1)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="changetab(3)">Next</button>
            </div>
        </div>

        <div class="warranty" ng-if="tabvalue == 3">
            <div class="list">
                <div class="item product-wrnnty">
                    Product Warranty
                </div>
                <label class="item item-input">
                    <span class="input-label">Warranty Period</span>
                    <input type="text">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Warranty Type
                    </div>
                    <select>
                        <option></option>
                        <option>On Site</option>
                        <option>Off Site</option>
                    </select>
                </label>

                <div class="item product-wrnnty">
                    Component Warranty
                </div>


                <label class="item item-input">
                    <span class="input-label">Component</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Serial No</span>
                    <input type="text">
                </label>


                <label class="item item-input">
                    <span class="input-label">Warranty Period</span>
                    <input type="text">
                </label>
                <ion-item ng-click="opencomponent()">
                    <span class="balanced">Add Component Warranty</span>
                </ion-item>
                <ion-item ng-click="openpswd()">
                    <span class="balanced"> Additional Warranty / AMC</span>
                </ion-item>

            </div>
            <!--
            <div class="row">
                <div class="col add-warnty" ng-click="opencomponent()">
                     Add Component Warranty
                </div>
                <div class="col add-warnty" ng-click="openpswd();">
                      Additional Warranty / AMC
                </div>
            </div>
-->
            <!--
            <div class="" ng-click="opencomponent();">
               Component Warranty
            </div>   
               
                     <div class="add-warnty" ng-click="openpswd();">
                Additional Warranty / AMC
            </div>
-->


            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(2)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="changetab(4)">Next</button>
            </div>
        </div>

        <div class="list" ng-if="tabvalue == 4;">
            <div class="item product-wrnnty">
                Product Documents
            </div>
            <label class="item" style="padding:0;">
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small">Upload Bill</button>
                    </div>
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small">Upload Warranty Card</button>
                    </div>
                </div>
            </label>
            <div class="item product-wrnnty">
                Add Notes
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Add Note">
            </label>
            <div class="padding">
                <button class="button button-block button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(3)">Previous</button>
            </div>
        </div>
    </ion-content>
</ion-view>