<ion-view class="light-bg" title="AppLions">
    <ion-content class="has-header">
        <div class="content">
            One Last Step to make the application more mening ful for you. lets add the brand and whether the appliance is covered under warranty / AMC.
        </div>
        <div class="row header">
            <div class="col">Appliance</div>
            <div class="col">Brand</div>
            <div class="col">Covered</div>
        </div>

        <div class="row table">
            <div class="col">This Mobile</div>
            <div class="col" ng-click="openbrandsearch();">Samsung</div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Mobile 2</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Television</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Music System</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">DVD Player</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <!--
            <div class="col">
                <select>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
-->
        </div>
        <div class="row table">
            <div class="col">Camera</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Laptop</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Computer</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">AC</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Refrigerator</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row table">
            <div class="col">Washing M/C</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table">
            <div class="col">Microwave</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row table">
            <div class="col">Mixer Grinder</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row table">
            <div class="col">Geyser</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row table">
            <div class="col">Fan</div>
            <div class="col" ng-click="openbrandsearch();">
                <input type="text" placeholder="Enter Brand" disabled>
            </div>
            <div class="col">
                <div class="item item-toggle wizardli">
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="padding">
            <a class="button button-block button-assertive" href="#/tab/home">Save</a>
        </div>
    </ion-content>
</ion-view>