<ion-view view-title="Manage Appliance" class="light-bg">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear small-icon">
            Save
        </button>
    </ion-nav-buttons>
    <ion-scroll zooming="false" direction="x" class="light-bg stickyScroll">
        <div class="flex-block">
            <div class="blocks text-center" ng-click="openarchive();">
                <h3 class="icon ln-archive"></h3> Archive
            </div>
            <div class="blocks text-center" ng-click="opentransfer();">
                <h3 class="icon ln-tab"></h3> Transfer
            </div>
            <div class="blocks text-center" ng-click="opendelete();">
                <h3 class="icon ln-trash2"></h3> Delete
            </div>
            <!--            <div class="blocks text-center" ng-click="openservice();">-->
            <a class="blocks text-center" ng-href="#/tab/home/services">
                <h3 class="icon ln-wrench"></h3> Service
            </a>
            <div class="blocks text-center" ng-click="openreport();">
                <h3 class="icon ln-papers"></h3> Report
            </div>
            <div class="blocks text-center" ng-click="sendtowebsite();">
                <h3 class="icon ln-circle-exclamation"></h3> Info
            </div>
            <div class="blocks text-center">
                <h3 class="icon ln-cart"></h3> Buy
            </div>
            <div class="blocks text-center">
                <h3 class="icon ln-tag"></h3> Sell
            </div>
            <div class="blocks text-center">
                <h3 class="icon ln-register"></h3> Review
            </div>
            <div class="blocks text-center">
                <h3 class="icon ln-users"></h3> Forum
            </div>
        </div>
    </ion-scroll>
    <ion-content class="scroll-above bbar-white" over-flow="scroll">
        <div class="row block-down">
            <div class="col text-center blockss" ng-click="changetab(1);" ng-class="{'activetab': tabvalue == 1}">
                Appliance Summary
            </div>
            <div class="col text-center blockss" ng-click="changetab(2);" ng-class="{'activetab': tabvalue == 2}">
                Purchase Details
            </div>
            <div class="col text-center blockss" ng-click="changetab(3);" ng-class="{'activetab': tabvalue == 3}">
                Warranty / AMC
            </div>
            <div class="col text-center blockss endblocks" ng-click="changetab(4);" ng-class="{'activetab': tabvalue == 4}">
                Documents / Notes
            </div>
        </div>

        <div class="appliance" ng-if="tabvalue == 1">

            <!--
            <div class="item withlist">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');">
                                 <label class="item item-input">
                <span class="input-label">Product*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Name As*</span>
                <input type="text" required>
            </label>
                </div>
            </div>
-->
            <div class="wish wishs">
                <div class="picturess  assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <label class="item item-input input-up" ng-click="openproductsearch();">
                    <span class="input-label">Product*</span>
                    <input type="text" ng-model="appliance.appliancetype.name" readonly>
                </label>
                <label class="item item-input input-btm">
                    <span class="input-label">Name As*</span>
                    <input type="text" ng-model="appliance.name" required>
                </label>
            </div>

            <div class="list" style="margin-top: 1px;">
                <label class="item item-input" ng-click="openbrandsearch();">
                    <span class="input-label">Brand*</span>
                    <input type="text" readonly>
                </label>

                <label class="item item-input">
                    <span class="input-label">Model No.</span>
                    <input type="text" ng-model="appliance.modelnumber">
                </label>

                <label class="item item-input">
                    <span class="input-label">Serial No.</span>
                    <input type="text" ng-model="appliance.serialnumber">
                </label>

                <label class="item item-input" ng-click="openedit();">
                    <span class="input-label">Location</span>
                    <input type="text" ng-model="appliance.userlocation.name" readonly>
                </label>

                <label class="item item-input">
                    <span class="input-label">Cover</span>
                    <input type="text">
                </label>

                <label class="item item-input">
                    <span class="input-label">Expiry</span>
                    <input type="text" ng-model="appliance.warranty[0].expiry">
                </label>


            </div>
            <div class="padding">
                <button class="button button-outline button-block icon-right ion-chevron-right button-balanced" ng-click="changetab2(2);">Next</button>
            </div>
        </div>

        <div class="list" ng-if="tabvalue == 2">
            <label class="item item-input">
                <span class="input-label">Purchase Date</span>
                <input type="date" ng-model="appliance.purchasedate">
            </label>
            <label class="item item-input">
                <span class="input-label">Bill No*</span>
                <input type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Store Pincode</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Store Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Store Pincode</span>
                <input type="text">
            </label>
            <label class="item item-input" ng-click="openedit();">
                <span class="input-label">Store District</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Store State
                </div>
                <input type="text">
                <!--
                <select>
                    <option></option>
                    <option>Maharastra</option>
                    <option>Gujrat</option>
                </select>
-->
            </label>
            <label class="item item-input">
                <span class="input-label">Store Address</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact No.</span>
                <input type="tel">
            </label>
            <label class="item item-input">
                <span class="input-label">Sale Person</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Purchase Price</span>
                <input type="text">
            </label>

            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(1)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="changetab(3)">Next</button>
            </div>
        </div>

   <div class="warranty" ng-if="tabvalue == 3">
            <div class="list">
                <div class="item product-wrnnty">
                    Product Warranty
                </div>
                <label class="item item-input">
                    <span class="input-label">Warranty Period</span>
                    <input type="text">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Warranty Type
                    </div>
                    <select>
                        <option></option>
                        <option>On Site</option>
                        <option>Off Site</option>
                    </select>
                </label>
                <ion-item ng-click="opencomponent()">
                    <span class="balanced">Add Component Warranty</span>
                </ion-item>
                <div class="item product-wrnnty">
                    Component Warranty
                </div>
                  <ion-item ng-click="opencompntwarranty()">
                   Component
                    <span class="item-note">
                    Back Cover
                    </span>
                </ion-item>
                
<!--
                <label class="item item-input">
                    <span class="input-label">Component</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Serial No</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Purchase Date</span>
                    <input type="date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Warranty Period</span>
                    <input type="text">
                </label>
-->
                <!--            <div class="row">-->
                <ion-item ng-click="openpswd()">
                    <span class="balanced"> Add Additional Warranty / AMC</span>
                </ion-item>
                <div class="item product-wrnnty">
                    Additional Warranty / AMC
                </div>
                <ion-item ng-click="openwarranty()">
                    Bill No Form
                    <span class="item-note">
                      13456
                    </span>
                </ion-item>
                <ion-item ng-click="openwarranty()">
                    Bill No Form
                    <span class="item-note">
                      13456
                    </span>
                </ion-item>
                <ion-item ng-click="openwarranty()">
                    Bill No Form
                    <span class="item-note">
                      13456
                    </span>
                </ion-item>
                <!--            </div>-->
                <!--
            <div class="" ng-click="opencomponent();">
               Component Warranty
            </div>   
               
                     <div class="add-warnty" ng-click="openpswd();">
                Additional Warranty / AMC
            </div>
-->
            </div>



            <div class="button-bar">
                <button class="button button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(2)">Previous</button>
                <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="changetab(4)">Next</button>
            </div>
        </div>


        <div class="list" ng-if="tabvalue == 4;">
            <div class="item product-wrnnty">
                Product Documents
            </div>
            <label class="item" style="padding:0;">
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small">Upload Bill</button>
                    </div>
                    <div class="col text-center">
                        <button class="button button-outline button-balanced button-block button-small">Upload Warranty Card</button>
                    </div>
                </div>
            </label>
            <div class="item product-wrnnty">
                Add Notes
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Add Note">
            </label>
            <div class="padding">
                <button class="button button-block button-outline icon-left ion-chevron-left button-balanced" ng-click="changetab(3)">Previous</button>
            </div>
        </div>
    </ion-content>
</ion-view>