<ion-modal-view>
    <ion-header-bar class="bar-balanced bar-header" align-title="center">
        <h1 class="title">Select Location</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModalss()">Close</button>
        </div>
    </ion-header-bar>
       <ion-scroll zooming="false" direction="x" class="light-bg stickyScroll">
            <div class="flex-block">
                <div class="blocks1 text-center" ng-repeat="location in userlocation" ng-click="selectLocation(location)" ng-class="location.tabactive">
                    {{location.name}}
                </div>
                <div class="blocks1 text-center"  ng-click="changetab(3)" ng-class="{'activetab': tabvalue == 3}">
                    Add New
                </div>
            </div>
        </ion-scroll>
    <ion-content class="tabs-conts">     
        <div class="list" ng-if="tabvalue!=3">
            <label class="item item-input">
                <span class="input-label">Name*</span>
                <input type="text" ng-model="appliance.userlocation.name" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode*</span>
                <input type="text" ng-model="appliance.userlocation.pincode" required>
            </label>
            <label class="item item-input">
                <span class="input-label">District/City*</span>
                <input type="text" ng-model="appliance.userlocation.district" required>
            </label><label class="item item-input">
                <span class="input-label">State*</span>
                <input type="text" ng-model="appliance.userlocation.state" required>
            </label>
<!--
            <label class="item item-input item-select">
                <div class="input-label">
                    District/City*
                </div>
                <select>
                    <option></option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Bangluru</option>
                </select>
            </label>
-->
<!--
            <label class="item item-input item-select">
                <div class="input-label">
                    State*
                </div>
                <select>
                    <option></option>
                    <option>Maharashtra</option>
                    <option>Delhi</option>
                    <option>Karnataka</option>
                </select>
            </label>
-->
            <label class="item item-input">
                <span class="input-label">Address</span>
                <textarea ng-model="appliance.userlocation.address" required>
                </textarea>
            </label>
        </div>    
        <div class="list" ng-if="tabvalue==3">
            <label class="item item-input">
                <span class="input-label">Name*</span>
                <input type="text" ng-model="location.name" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode*</span>
                <input type="text" ng-model="location.pincode" required>
            </label>
            <label class="item item-input">
                <span class="input-label">District/City*</span>
                <input type="text" ng-model="location.district" required>
            </label><label class="item item-input">
                <span class="input-label">State*</span>
                <input type="text" ng-model="location.state" required>
            </label>
<!--
            <label class="item item-input item-select">
                <div class="input-label">
                    District/City*
                </div>
                <select>
                    <option></option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Bangluru</option>
                </select>
            </label>
-->
<!--
            <label class="item item-input item-select">
                <div class="input-label">
                    State*
                </div>
                <select>
                    <option></option>
                    <option>Maharashtra</option>
                    <option>Delhi</option>
                    <option>Karnataka</option>
                </select>
            </label>
-->
            <label class="item item-input">
                <span class="input-label">Address</span>
                <textarea ng-model="location.address" required>
                </textarea>
            </label>
        </div>
        <div class="button-bar padding">
            <button class="button button-outline button-balanced" ng-click="updateLocation()" ng-if="tabvalue!=3">Select</button>
            <button class="button button-outline button-balanced" ng-click="addLocation()" ng-if="tabvalue==3">Add</button>
        </div>
    </ion-content>
</ion-modal-view>