<ion-view hide-nav-bar="true" class="light-bg">
    <ion-content>
        <div class="logo">
            <img src="img/logo.jpeg">
            <h4>App Lions</h4>
        </div>
        <div class="list login-text">
            <label class="item item-input login-i">
                <i class="icon ln-envelope"></i>
                <input type="email" placeholder="Email Id" ng-model="user.email">
            </label>
            <label class="item item-input login-i">
                <i class="icon ln-lock"></i>
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>

        <div class="padding-horizontal btn-signin">
            <a class="button button-block button-balanced" href="#/appwizards">
            Sign In
            </a>
        </div>

        <div class="padding-horizontal btn-signin">
            <a class="button button-block button-balanced" href="#/oldreg">
           Existing User?
            </a>
        </div>

        <div class="login-with">
            or login with
        </div>

        <div class="button-bar padding-horizontal">
            <a class="button button-fb button-outline margin-right" href="#/appwizards">
                <i class="ion-social-facebook"></i>
            </a>
            <a class="button button-google button-outline" href="#/appwizards">
                <i class="ion-social-googleplus"></i>
            </a>
        </div>

        <div class="forgot padding-horizontal">
            <!--
    <span class="left"> 
            <a class="button button-small button-balanced" href="#/oldreg" class="left">Existing User?</a></span>
-->
            <span class="right">New Here <a href="#/registration"> Sign Up</a></span>
        </div>

        <div class="forgot padding-horizontal">
            <a href="#/forgot" class="right">Forgot Password?</a>
<!--            <a class="right" ng-click="getdiv()">get device</a>-->
        </div>

    </ion-content>
</ion-view>