<ion-modal-view class="bg-sortby">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Sort By</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closesortservice();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    Distance
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    Rating
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-modal-view>