 <ion-modal-view>
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Service Provider Details</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closeviewdetails();">Close</button>
        </div>
    </ion-header-bar>
<ion-content>
                  <div class="brandcall">
                   <div class="list req-services">
                    <div class="item product-wrnnty">
               ASP
            </div>
  <div class="item item-button-right">
    <h3>ASP</h3>
    Sion Chunabhatti Mumbai, 400022 Maharashtra
    <button class="button button-balanced button-clear">
      <i class="icon ln-location"></i>
    </button>
  </div>
  <div class="item item-button-right">
  <h4>Timings</h4>
   Call Timings are between 9am to 6pm.
    <button class="button button-balanced button-clear">
      <i class="icon ln-clock3"></i>
    </button>
  </div>
   <div class="item item-button-right">
   <h4>Phone Number</h4>
    Not Avaliable
    <button class="button button-balanced button-clear">
      <i class="icon ln-phone"></i>
    </button>
  </div>
   <div class="item item-button-right">
          <h4> SMS</h4>
    Not Avaliable
    <button class="button button-balanced button-clear">
      <i class="icon ln-comment"></i>
    </button>
  </div>
   <div class="item item-button-right">
   <h4>Email</h4>
    Not Avaliable
    <button class="button button-balanced rights button-clear">
      <i class="icon ln-envelope"></i>
    </button>
  </div>  
        </div>
        </div>
     </ion-content>
</ion-modal-view>