<ion-modal-view>
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Add Service Provider</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closeaddservice();">Close</button>
        </div>
    </ion-header-bar>
<ion-content>
      <div class="list">
            <label class="item item-input">
                <span class="input-label">Agency Name</span>
                <input type="text" placeholder="Enter Agency Name">
            </label>  
               <label class="item item-input">
                <span class="input-label">Contact Person</span>
                <input type="text" placeholder="Contact Name">
            </label> 
                <label class="item item-input">
                <span class="input-label">Mobile No.</span>
                <input type="text" placeholder="Enter Mobile No">
            </label>    
                  <label class="item item-input">
                <span class="input-label">Landline</span>
                <input type="text" placeholder="Enter Landline No">
            </label>
                <label class="item item-input">
                <span class="input-label">Pincode</span>
                <input type="text" placeholder="Enter Pincode">
            </label> 
                  <label class="item item-input item-select">
    <div class="input-label">
      District
    </div>
    <select>
      <option>Select</option>
      <option>Mumbai</option>
      <option>Pune</option>
      <option>Delhi</option>
    </select>
  </label>            
                 <label class="item item-input item-select">
    <div class="input-label">
      State
    </div>
    <select>
      <option>Select</option>
      <option>Maharastra</option>
      <option>AndraPradesh</option>
      <option>Delhi</option>
    </select>
  </label>            
         <label class="item item-input">
                <span class="input-label">Address</span>
                      <textarea rows="3" cols="4" class="text-areas" >
                      </textarea>
            </label>              
    </div>  
<div class="button-bar padding">
                <button class="button button-outline button-balanced">Submit</button>
    </div>
</ion-content>
</ion-modal-view>