<ion-modal-view class="bg-sortby">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Add Component Warranty</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closecomponent();">Skip</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
        <label class="item item-input">
            <span class="input-label">Component</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Serial No</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Warranty Period</span>
            <input type="text">
        </label>
        </div>
                <div class="padding-horizontal">
            <button class="button button-balanced button-block button-outline">Save &#38; Exit</button>
        </div>
    </ion-content>
</ion-modal-view>