<ion-modal-view>
       <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Brand Name</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closebrandsearch();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
<div class="list">
            <form class="item item-input-inset only-horizontal">
                <label class="item-input-wrapper ">
                    <input type="text " placeholder="Brand" style="border: 0px;" class="ng-pristine ng-valid ng-touched">
                </label>
                <button class="button button-icon ion-search" type="submit"></button>
            </form>

            <ion-item class="item">Sony</ion-item>

        </div>
    </ion-content>
</ion-modal-view>