<ion-modal-view class="bg-sortby">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Service Report</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closeprevreports();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
              <div class="list list-tabs">
                <div class="item product-wrnnty">
                    Appliance Details
                </div>
            </div>
            
            <div class="row">
                <div class="col-33">
                    <div class="pictures assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                </div>
                <div class="col-67 pad">
                    <h5>Appliance Type</h5>
                    <p>Mobile Phones</p>
                </div>
            </div>
   <div class="app-details">
                <div class="list list-tabs">
                    <label class="item item-input">
                        <span class="input-label">Brand</span>
                        <input type="text" value="Sony Ericsson" disabled>
                    </label>
                    
                    <label class="item item-input">
                        <span class="input-label">Model No</span>
                        <input type="text" value="X6" disabled>
                    </label>
                    
                    <label class="item item-input">
                        <span class="input-label">Serial No</span>
                        <input type="text" value="1234" disabled>
                    </label>
                    
                    <label class="item item-input">
                        <span class="input-label">Tag</span>
                        <input type="text" value="My 2nd Mobile" disabled>
                    </label>
                    
                    <label class="item item-input">
                        <span class="input-label">Location</span>
                        <input type="text" value="Location" disabled>
                    </label>
                    
                </div>
                <div class="call-details">
                    <div class="list list-tabs">
                        <div class="item product-wrnnty">
                            Call Details
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Date</span>
                            <input type="text" disabled class="disableds" value="12/05/2012">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Time</span>
                            <input type="text" disabled class="disableds" value="8:29 pm">
                        </label>
                        <label class="item item-input">
                            <div class="input-label">
                                Call Type
                            </div>
                            <input type="text" value="Warranty" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Agency Name</span>
                            <input type="text" value="Enter Agency Name" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Service Enginner</span>
                            <input type="text" value="Enter Enginner Name" disabled>
                        </label>
                    </div>
                </div>
                <div class="service-details">
                    <div class="list list-tabs">
                        <div class="item product-wrnnty">
                            Service Details
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Problem Details</span>
                            <input type="text" value="Enter Details of Probelms" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Service Rendered</span>
                            <input type="text" value="Enter Details of Probelms" disabled>
                        </label>

                        <label class="item item-input">
                            <div class="input-label">
                                Call Status
                            </div>
                             <input type="text" value="Completed" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Amount Paid</span>
                            <input type="text" value="Amount Paid" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Service Enginner</span>
                            <input type="text" value="Enter Enginner Name" disabled>
                        </label>
                    </div>
                </div>
                <div class="feedback">
                    <div class="list list-tabs">
                        <div class="item product-wrnnty">
                            FeedBack
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Service Quality</span>
                            <div class="start input inputs">
                                <i class="ion-android-star actived"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Timely Service</span>
                            <div class="start input inputs">
                                <i class="ion-android-star actived"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Service Charges</span>
                            <div class="start input inputs">
                                <i class="ion-android-star actived"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Feedback Title</span>
                            <input type="text" value="Enter FeedBack Title" disabled>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Feedback Review</span>
                            <input type="text" value="Enter Review" disabled>
                        </label>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-modal-view>