<ion-modal-view class="bg-report">
    <ion-header-bar class="bar-balanced" align-title="center">
        <h1 class="title">Transfer Report</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closenotification();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card transfers">
            <div class="item product-wrnnty">
                Request Form
            </div>
            <div class="notification row">
                <div class="col">
                    Email Id
                </div>
                <div class=" col">
                    applions@gmail.com
                </div>
            </div>
            <!--                    <input type="email" value="applions@gmail.com" class="pull-right" disable>-->
            <div class="notification row">
                <div class="col">Appliance Name</div>
                <div class=" col">My Mobile</div>
            </div>
            <div class="notification row">
                <div class="col">Appliance Type</div>
                <div class=" col">Mobile Phones</div>
            </div>
            <div class="notification row">
                <div class="col">Brand</div>
                <div class="col">LG</div>
            </div>

            </label>
            <div class="button-bar padding">
                <button class="button button-outline  button-balanced">Accept</button>
                <button class="button button-outline  button-balanced">Reject</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>