<ion-view hide-nav-bar="true" class="light-bg">
    <ion-content>
      <div class="logo">
            <img src="img/logo.jpeg">
            <h4>App Lions</h4>
        </div>
        <div class="list login-text">
            <label class="item item-input login-i">
               <i class="icon ln-phone"></i>
                <input type="tel" placeholder="Enter Number">
            </label>
        </div>
                   <div class="padding-horizontal btn-signin">
                    <a class="button button-block button-balanced" href="#/old-registration">
Submit
            </a>
        </div>
    </ion-content>
</ion-view>