<ion-view view-title="Mobile Verification">
    <ion-content class="has-header otpbg">
     <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <div class="padder"></div>
        <div class="otp-title">
            <div class="title">
                <p>Enter Your Mobile Number!</p>
            </div>
            <ion-item>
                <label class="item item-input">
                   <label>+91</label> <input type="tel" placeholder="Mobile Number">
                </label>
            </ion-item>
        </div>
        <div class="otpnote  padding-horizontal">
            <p><span>Note:</span> We will send you One Time Password (OTP)to the mobile number enterd above.</p> 
        <div class="button-bar padding">
        <button class="button button-outline button-balanced" ng-click="next();">
        Submit
</button>
            </div>
        </div>
        </ion-slide>
        
        <ion-slide ng-controller="AppCtrl">
            <div class="padder"></div>
        <div class="otp-title">
            <div class="title">
                <p>Enter Your OTP!</p>
            </div>
            <ion-item>
                <label class="item item-input">
                  <input type="text" placeholder="Enter OTP">
                </label>
            </ion-item>
        </div>
       <div class="button-bar padding">
                <a class="button button-outline button-balanced" href="#/tab/home">Submit</a>
    </div>
        </div>
        <div class="text-right">
                <span class="linked" ng-click="showAlert();">Didn't get OTP?</span>
            </div>
        </ion-slide>
    </ion-slide-box>    </ion-content>
</ion-view>