<ion-popover-view>
    <ion-content>
        <div class="list">
            <div class="item" ng-click="openchngpswd();">Change Password</div>
            <!--            <div class="item" ng-click="openchngno();">Change Email Id</div>-->
            <div class="item" ng-click="openexisting();">Existing User</div>
            <div class="item" ng-click="openstat();">My Statistics</div>
            <div class="item" ng-click="openfeedback();">Feedback</div>
        </div>
    </ion-content>
</ion-popover-view>