<ion-view view-title="AppLions">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear small-icon ln-bell" ng-click="opennotification();">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ln-tab btn-sort small-icon" ng-click="opensort();">
        </button>
        <button class="button button-icon button-clear ln-funnel small-icon" ng-click="openfilter();">
        </button>
    </ion-nav-buttons>

    <ion-content overflow-scroll= "true">
        <ion-list class="slide-option">

            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-picture light-bg tem-remove-animate item-avatar2" href="#/tab/home/edit">
                <div class="picture assertive-bg" style="background-image: url('img/icons/Mobile.png');"></div>
                <h2>Sony app</h2>
                <p>Make: My Brand</p>
                <p>Warranty: 2 years</p>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-wrench"></i> Services
                </ion-option-button>
                <ion-option-button class="button-large button-balanced slide-home">
                    <i class="icon ln-trash2"></i> Delete
                </ion-option-button>
            </ion-item>
            <!--            UNWANTED              -->
        </ion-list>
    </ion-content>
    <a class="button button-round button-fixed icons ion-plus-round button-balanced add-app" href="#/tab/home/addappliance"></a>
</ion-view>