<ion-view view-title="Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-more-vertical small-icon" ng-click="popover.show($event);"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Mobile No.</span>
                <input type="tel" placeholder="Enter your mobile no.">
            </label>
            <label class="item item-input">
                <span class="input-label">Email ID</span>
                <input type="email" placeholder="Enter your email">
            </label>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Enter your full name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select>
                    <option selected>Please Select</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode</span>
                <input type="text" placeholder="Enter your pincode">
            </label>
            <label class="item item-input">
                <span class="input-label">District</span>
                <input type="text" placeholder="Enter your district name">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Enter your location">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Country
                </div>
                <select>
                    <option selected>Please Select</option>
                    <option>India</option>
                    <option>Pakistan</option>
                </select>
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Country Code
                </div>
                <!--
                <select>
                    <option selected>Please Select</option>
                    <option>India</option>
                    <option>Pakistan</option>
                </select>
-->
                <input type="text" placeholder="Enter the Contry Code">
            </label>
            <label class="item item-input">
                <span class="input-label">
                    State
                </span>
                <input type="text" placeholder="Enter your State">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Enter your address">
            </label>
            <label class="item item-input">
                <span class="input-label">Birthdate</span>
                <input type="date" placeholder="Enter your date">
            </label>

            <div class="padding-horizontal">
                <button class="button button-assertive button-block">
                    Save
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>